# Pandas ile dataframe üzerinde veri filitreleme

In [1]:
import pandas as pd

In [4]:
cars=pd.read_csv("cars.csv",index_col=0) # Uygulamanın çalıştığı dizindeki cars.csv dosyasını okutarak dataframe yarattım.

In [3]:
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [7]:
dr=cars["drives_right"]==True # drives_right değeri True olanlar üzerinde bir seri yarattık.
dr

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [8]:
sel=cars[dr] # True değerlerden oluşan dr'yi kullanarak sadece True değerlerini içeren sel isimli dataframe yarattık.
sel

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [11]:
sel_sh=cars[cars["drives_right"]==True] # Değişkenlere atamadan direk ilgili filitrasyonu yaptık.
print(sel_sh)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [12]:
print(cars[cars["cars_per_cap"]>500]) # Burada kişi başına düşen araç sayısı 500'den büyük olanları getirdik.

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

*** Array seviyeninde karşılaştırma yapmak istediğimiz zaman numpy içindeki logical_and, logical_or, logical_not kullanmamız gerekmekte. Bu sayede daha gelişmiş filitrelemeler yapabiliriz. ***

In [13]:
import numpy as np

In [19]:
cpc=cars["cars_per_cap"]
between=np.logical_and(cpc>10,cpc<80) # logical_and ile 10'büyük 80'den küçük elemanlara True dönen bir dizi oluşturuyorum
print(between)
medium=cars[between]
medium

US     False
AUS    False
JAP    False
IN      True
RU     False
MOR     True
EG      True
Name: cars_per_cap, dtype: bool

     cars_per_cap  country  drives_right
IN             18    India         False
MOR            70  Morocco          True
EG             45    Egypt          True