<a href="https://colab.research.google.com/github/evrenarslan/Python-Egitim/blob/master/List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List Comprehensions

In [0]:
liste=[15,18,2,69,34,75]
yeni_liste=[] # Bir önceki listeden yaratacağımız yeni liste için bpş bir liste yaratıyoruz.

In [0]:
for sayi in liste:
  yeni_liste.append(sayi+1) # Verilen bir listedeki sayıların bir fazlası ile yeni liste yarattık, Fakat bu yöntem efektif bir yöntem değil.

print(yeni_liste)

[16, 19, 3, 70, 35, 76]

In [0]:
# Bu işlemi tek satırlık bir kodla yapabiliriz.

daha_yeni_liste=[sayi+1 for sayi in liste] # ilk parçasında liste üyelerine yapılacak işi, sonrasında değişkenin tanımı bulunmakta.
print(daha_yeni_liste)

[16, 19, 3, 70, 35, 76]

In [0]:
# Bu yöntem sadece listeler için değil tüm iterable objeler için geçerlidir.

In [0]:
#İçe içe döngüler de bu yöntemle yazılabilir.
pairs_1=[]
for num1 in range(0,2):
  for num2 in range(6,8):
    pairs_1.append((num1,num2))

print(pairs_1)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [0]:
# Yukarıda yapılmış for döngüsü ile yapılmış olanın list comprehensions ile aşağıdaki gibi tek satırda yazarız.
pairs_2=[(num1,num2) for num1 in range(0,2) for num2 in range(6,8)]
print(pairs_2)

[(0, 6), (0, 7), (1, 6), (1, 7)]

In [0]:
# 4x4 matris oluşturma örneği
matris=[[col for col in range(5)] for row in range(5)]

matris

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [0]:
#Advanced comprehensions
test_1=[num**2 for num in range(10) if num%2==0]
print(test_1)

[0, 4, 16, 36, 64]

In [0]:
test_2=[num**2 if num%2==0 else 0 for num in range(20)]
print(test_2)

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0, 100, 0, 144, 0, 196, 0, 256, 0, 324, 0]

In [0]:
# Dictionary Comprehensions 
# Dictionary yarartmak için kullanılabilir. 2 fark dışında tüm söz dizimi aynıdır. 
# *[] yerine {} kullanılır.
# * İkinci fark değişkenden sonra : kullanılır

pos_neg={num:-num for num in range(20)}
print(pos_neg)
print(type(pos_neg))

{0: 0, 1: -1, 2: -2, 3: -3, 4: -4, 5: -5, 6: -6, 7: -7, 8: -8, 9: -9, 10: -10, 11: -11, 12: -12, 13: -13, 14: -14, 15: -15, 16: -16, 17: -17, 18: -18, 19: -19}
<class 'dict'>

# Generator #
List Comprehensions ile aynı syntax ile yaratılır. Tek farkla o da [ ] yerine ( ) kullanılır. Yazımdaki bu ufak farkın ötesinde üretimde çok önemli bir fark vardır o da memory içinde bir yer kaplamamasıdır. Bunun her bir iterasyon sırasında sadece ilgili değeri yaratarak yapar. Bir liste gibi tek seferde memory üzerinde yer almaz.

Yaratılmış bir generatorı list() fonksiyonu ile liste haline getirebiliriz.

** Generator fonksiyonlar **

Bu fonksiyonlar aynı şekilde tanımlanır iken değer dönüşlerini return ile değil ***yield*** ile yaparlar. Bu şekilde ilgilil fonsiyonun generator object döner.

In [0]:
test_list=[num**2 for num in range(20)]
print(test_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [0]:
test_gen=(num**2 for num in range(20))
print(test_gen) # Buradaki değer dönmeyecektir. Ve obkje tipi dönecektir. Değerleri oluşturmadığı için böyle davranır. Değerleri görmek için iterasyon yapmak yada liste çevirmek lazım.
#print(list(test_gen))

<generator object <genexpr> at 0x7fd236375db0>

In [0]:
for i in test_gen:
  print(i)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [0]:
print(list(test_gen))# Bir kere kullanıldıktan sonra daha sonra değerlere ulaşılmaz olacaktır. Bir üst satırda değerleri çağırdığım için boş gelir.

[]

In [0]:
# List vs Generator Memory Farkı
test_big=[num**2 for num in range(10**1000000)] # Bu liste yaratılamayacaktır var olan memory miktarı ile.

In [0]:
test_big_gen=(num**2 for num in range(10**1000000)) # Böyle bir liste ile çalışmak istenirse bir generator ile bu iş yaratılabilir.

In [0]:
def num_sequence(n):
  """ 1'den n'e kadar değerler yaratır"""
  i=0
  while i<n:
    yield i
    i+=1

In [0]:
print(num_sequence(10)) # Fonksiyon çağırıldığında generator object döner

<generator object num_sequence at 0x7f40313e60f8>

In [0]:
print(list(num_sequence(20)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]